@import "./global.scss";

.createPost {
  .createPost-titlebox {
    width: $width;
    max-width: $max-width;
    margin: 20px auto 0;
    position: relative;

    .createPost__title {
      all: unset;
      display: block;
      width: 100%;
      margin-bottom: 10px;
      border-bottom: 1px solid $light-gray;
      font-size: 3.6rem;
      font-weight: 800;
    }

    .createPost__subtitle {
      @extend .createPost__title;

      font-size: 1.8rem;
      font-weight: 700;
    }
  }

  .createPost-textbox {
    width: 100vw;
    margin: 20px auto 0;
    border-bottom: 1px solid $light-gray;
    border-top: 1px solid $light-gray;
    display: grid;
    grid-template-columns: 1fr 2fr;

    textarea,
    .createPost__markdown {
      width: 100%;
      height: calc(100vh - 145px);
      overflow: scroll;
      padding: 20px;
      font-size: 1.8rem;
    }

    textarea {
      border: none;
      outline: none;
      background: rgb(29, 29, 29);
      color: white;
    }
  }

  .createPost-buttonbox {
    width: $width;
    max-width: $max-width;
    margin: 10px auto;

    .createPost__submitBtn {
      all: unset;
      display: block;
      width: fit-content;
      margin-left: auto;
      padding: 10px 100px;
      background: $light-gray;
      border-radius: 20px;
      font-size: 1.4rem;
      color: white;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background: black;
        transition: 0.3s;
      }
    }
  }
}
