@import "./global.scss";

.createPostBtn {
  width: 100px;
  height: 100px;
  background: rgb(231, 231, 231);
  border-radius: 50%;
  position: fixed;
  right: 3vw;
  bottom: 5vh;
  cursor: pointer;

  svg {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
