@import "./global.scss";

.deletePostBtn {
  padding: 10px 20px;
  border-radius: 20px;
  background: rgb(200, 40, 40);
  position: fixed;
  right: 2vw;
  bottom: 5vh;
  font-size: 1.6rem;
  color: white;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}
