@import "./global.scss";

.footer {
  width: $width;
  max-width: $max-width;
  padding: 10px 0;
  margin: 30px auto 0;
  // position: absolute;
  // bottom: 0;
  // left: 50%;
  // transform: translateX(-50%);
  font-size: 1.2rem;
  text-align: right;
  color: $light-gray;
}
