//reset
*,
html,
body,
header,
main,
footer,
div,
p,
h1,
h2,
h3,
h4,
ul,
li {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
li {
  // list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

//common attributes
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

html {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
}

body {
  position: relative;
}

//variables
$width: 80vw;
$max-width: 780px;

$light-gray: #ececec;
