@import "./global.scss";

.header {
  width: 100vw;
  padding: 10px 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: saturate(180%) blur(20px);
  // box-shadow: 1px 1px 5px rgb(224, 224, 224);
  border-bottom: 1px solid rgb(230, 230, 230);
  position: sticky;
  top: 0;
  left: 0;

  > div {
    width: 80vw;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__title {
      font-size: 1.8rem;
    }

    .header__login {
      width: fit-content;
      padding: 3px 10px;
      border-radius: 20px;
      background: rgb(28, 97, 28);
      font-size: 1.2rem;
      color: white;
    }
  }
}
