@import "./global.scss";

.loginBtn {
  width: fit-content;

  .loginBtn__logoutBtn {
    width: fit-content;
    padding: 3px 10px;
    border-radius: 20px;
    background: rgb(28, 97, 28);
    font-size: 1rem;
    color: white;
    cursor: pointer;
  }

  button {
    border: none !important;
    box-shadow: none !important;

    div {
      padding: 0 !important;
      margin: 0 !important;
    }

    span {
      display: none;
    }
  }
}
