@import "./global.scss";

.markdown {
  width: 780px;
  font-size: 1.6rem;

  h1 {
    font-size: 3.2rem;
    line-height: 1;
    // padding-bottom: 1rem;
    margin-bottom: 1.6rem;
    margin-top: 4.8rem;
    // border-bottom: 1px solid $light-gray;
  }

  h2 {
    @extend h1;

    font-size: 2.4rem;
  }

  h3 {
    @extend h1;

    font-size: 1.8rem;
  }

  p {
    margin-bottom: 1.6rem;
  }

  a {
    color: #0366d6;
  }

  table,
  th,
  tr,
  td {
    margin: 8px 0;
    padding: 6px 13px;
    border-collapse: collapse;
    border: 1px solid rgb(221, 221, 221);
  }

  ul,
  ol {
    margin-bottom: 1.6rem;
    padding-left: 32px;

    li {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  //check list
  ul.contains-task-list {
    @extend ul;

    list-style: none;
    padding: 0;
  }

  code {
    padding: 2px 5px;
    // background: rgb(245, 242, 240);
    background: #2f2f2f;
    font-size: 0.9em;
    // color: rgb(221, 74, 104);
    color: #eeeeee;

    border-radius: 3px;
  }

  a > code {
    // color: #0366d6;
    color: #89ddff;
  }

  div > code {
    padding: 0;
    font-size: 1.36rem !important;
  }

  hr {
    height: 0.5rem;
    margin: 3.2rem 0;
    background: $light-gray;
    border: none;
  }
}
