@import "./global.scss";

.navigation {
  width: fit-content;
  position: fixed;
  top: 30vh;
  left: 50vw;
  transform: translateX(calc(390px + 5vw));

  @media (max-width: calc(975px + 100px)) {
    display: none;
  }

  .navigation__list {
    list-style: none;

    li {
      margin-bottom: 5px;
      font-size: 1.6rem;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
