@import "./global.scss";

.postCard {
  width: 100%;
  padding: 30px 0 20px;
  border-bottom: 1px solid $light-gray;

  .postCard__title {
    font-size: 3.6rem;
    font-weight: 800;
  }

  .postCard__createdAt {
    display: block;
    margin-bottom: 10px;
    font-size: 1.4rem;
    color: gray;
  }

  .postCard__subtitle {
    margin-bottom: 15px;
    font-size: 1.6rem;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;

    * {
      all: unset;
      color: black;
    }
  }
}
