@import "./global.scss";

.post {
  width: $width;
  max-width: $max-width;
  margin: 30px auto;

  .post-container {
    border-bottom: 1px solid $light-gray;
  }

  .post__title {
    font-size: 4.8rem;
    font-weight: 800;
  }

  .post__createdAt {
    display: block;
    margin-bottom: 30px;
    font-size: 1.4rem;
    color: gray;
  }
}
