// reset
*,
html,
body,
header,
main,
footer,
div,
p,
h1,
h2,
h3,
h4,
ul,
li {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

// common attributes
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

html {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-smooth: antialiased;
  scroll-behavior: smooth;
  position: relative;
}

// variables
$width: 90vw;
$max-width: 769px;
$light-gray: #ececec;

// background effect
#background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  backdrop-filter: saturate(180%) blur(100px);
}

#background-effect1 {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: rgb(162, 0, 255);
  opacity: 0.2;
  position: fixed;
  left: -10vw;
  bottom: -10vh;
  z-index: -1;
}

#background-effect2 {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  background-color: rgb(0, 234, 255);
  opacity: 0.3;
  position: fixed;
  right: -10vw;
  top: -10vh;
  z-index: -1;
}
