@import "./global.scss";

.intro {
  margin-top: 50px;
  margin-right: 50px;
  // width: 156px;
  width: 240px;

  .intro__innerbox {
    position: fixed;
    width: 240px;
  }

  @media (max-width: 1025px) {
    width: $width;
    max-width: $max-width;
    margin: 0 auto;

    .intro__innerbox {
      position: static;
    }
  }

  .intro__title {
    font-family: "Playfair Display", serif;
    margin-bottom: 30px;
    font-size: 7.2rem;
    font-weight: 900;
    line-height: 0.8;

    @media (max-width: 768px) {
      font-size: 6rem;
    }
  }

  .intro__text {
    margin-bottom: 30px;
    font-size: 1.4rem;

    a {
      text-decoration: underline;
    }
  }

  .intro__links {
    display: flex;
    gap: 15px;
  }
}
