@import "./global.scss";

.intro {
  margin-top: 50px;
  margin-right: 50px;
  width: 200px;

  .intro__innerbox {
    position: fixed;
    width: 200px;
  }

  @media (max-width: 1025px) {
    width: $width;
    max-width: $max-width;
    margin: 0 auto;

    .intro__innerbox {
      position: static;
    }
  }

  .intro__title {
    position: relative;
    top: -22px;
    font-family: "Playfair Display", serif;
    font-size: 7.2rem;
    font-weight: 900;

    background: linear-gradient(
      90deg,
      hsla(278, 100%, 50%, 0.5) 0%,
      hsla(185, 100%, 50%, 1) 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (max-width: 1025px) {
      margin-top: 5vw;
    }

    @media (max-width: 768px) {
      font-size: 6rem;
    }
  }

  .intro__text {
    margin-bottom: 30px;
    font-size: 1.4rem;
    color: rgb(175, 175, 175);

    em {
      text-decoration: underline;
    }
  }

  .intro__links {
    margin-bottom: 50px;
    display: flex;
    color: rgb(175, 175, 175);

    > * {
      margin-right: 15px;
    }

    svg:hover {
      color: rgb(71, 97, 209);
      transition: 0.3s;
    }
  }
}
