@import "./global.scss";

.loading {
  min-height: 60vh;

  .ellipsis {
    width: fit-content;
    margin: 50px auto;
    display: flex;
    justify-content: flex-start;
    font-size: 5.2rem;
    color: $light-gray;

    @for $i from 1 through 5 {
      div:nth-child(#{$i}) {
        width: 20px;
        animation: changeColor 1.2s $i * 0.2s infinite;
      }
    }

    @keyframes changeColor {
      0% {
        color: $light-gray;
      }
      50% {
        color: gray;
      }
      100% {
        color: $light-gray;
      }
    }
  }
}
