@import "./global.scss";

.loading {
  width: fit-content;
  height: fit-content;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;

  div {
    width: 36px;
    height: 36px;
    border: 2px solid white;
    border-radius: 50%;
    animation: rotation 0.7s ease-in-out infinite;
    border-color: rgba(204, 204, 204, 1) rgba(204, 204, 204, 1) transparent
      transparent;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
