@import "./global.scss";

.login {
  width: $width;
  max-width: $max-width;
  margin: 0 auto;
  padding-top: 100px;
  min-height: calc(100vh - 45px - 67px);

  .login__title {
    margin-bottom: 30px;
    font-size: 3.8rem;
    font-weight: 800;
    text-transform: uppercase;
  }

  form {
    input {
      all: unset;
      display: block;
      width: 280px;
      padding: 7px 0px;
      margin-bottom: 10px;
      border-bottom: 1px solid black;
      font-size: 1.4rem;

      &:nth-child(2) {
        margin-bottom: 30px;
      }
    }

    button {
      @extend input;
      background: black;
      font-size: 1.2rem;
      color: white;
      text-align: center;
    }
  }
}
