@import "./global.scss";

.postCard {
  width: 100%;
  padding: 50px 0;

  .postCard__title {
    font-family: "Playfair Display", serif;
    font-size: 4.8rem;
    font-weight: 800;
    text-align: center;
  }

  .postCard__createdAt {
    display: block;
    margin-bottom: 15px;
    font-size: 1.4rem;
    color: black;
    text-align: center;
  }

  .postCard__preview {
    margin-bottom: 15px;
    font-size: 1.4rem;
    text-indent: calc(1.4rem * 4);
  }

  .postCard__readBtn {
    font-size: 1.4rem;
    text-align: center;
    position: relative;

    &::before {
      display: block;
      content: "";
      width: 140px;
      height: 10px;
      background: #ffde00;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }
  }

  @media (max-width: 768px) {
    .postCard__title {
      font-size: 3.6rem;
    }
  }
}
