@import "./global.scss";

.post {
  width: $width;
  max-width: $max-width;
  margin: 30px auto;

  .post__title {
    font-family: "Playfair Display", serif;
    font-size: 4.8rem;
    font-weight: 800;
  }

  .post__createdAt {
    display: block;
    padding-bottom: 20px;
    font-size: 1.4rem;
    color: gray;
  }
}
