@import "./global.scss";

.postCard {
  width: 100%;
  padding: 70px 0;
  position: relative;

  .postCard__title {
    font-family: "Playfair Display", serif;
    font-size: 4.8rem;
    font-weight: 800;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 3.2rem;
    }
  }

  .postCard-container {
    width: fit-content;
    margin: 0 auto 30px;
    display: flex;
    align-items: center;

    > * {
      display: block;
      font-size: 1.4rem;
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }
    }

    .postCard__dot {
      width: 3px;
      height: 3px;

      background: black;
      border-radius: 50%;
    }
  }

  .postCard__preview {
    margin-bottom: 10px;
    font-size: 1.4rem;
    text-indent: calc(1.4rem * 4);
  }

  .postCard__readBtn {
    font-size: 1.4rem;
    text-align: center;
    position: relative;

    &::before {
      display: block;
      content: "";
      width: 140px;
      height: 10px;
      background: #ffde00;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }
  }
}
