@import "./global.scss";

.postCard {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: 50px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 50px;

  &:last-child {
    border-bottom: 0;
  }

  @media screen and (max-width: 769px) {
    grid-template-columns: 100%;
    grid-gap: 30px;
  }

  .postCard__leftbox {
    span {
      display: block;
    }

    .postCard__index {
      margin-bottom: 2px;
      // font-family: "Playfair Display", serif;
      font-size: 1.4rem;
      font-weight: 600;
    }

    .postCard__createAt {
      font-size: 1.2rem;
      color: rgb(179, 179, 179);
      font-weight: 600;
      text-transform: uppercase;
    }

    @media screen and (max-width: 769px) {
      display: flex;
      gap: 10px;
      align-items: baseline;
    }
  }

  .postCard__title {
    margin-bottom: 10px;
    font-family: "Playfair Display", serif;
    font-size: 3.2rem;
    font-weight: 700;
    position: relative;
    top: -1rem;

    @media (max-width: 769px) {
      font-size: 2.8rem;
    }
  }

  .postCard__preview {
    font-size: 1.4rem;
    text-align: justify;
    color: gray;
  }

  .postCard__readBtn {
    display: block;
    width: fit-content;
    font-size: 1.4rem;
    font-weight: 600;
  }
}
